<!-- override this file -->
<!-- mathjax -->
<!--
{{ partial "math.html" . }}
-->
<!--
{{ partial "music.html" . }}
-->
<!-- 顶部跑马灯特效 -->
<style>
    #top-grrk{
    background:url(https://jsdelivr.icloudnative.io/gh/yangchuansheng/imghosting@second/img/paomadeng.gif);
    height:2px;
    position:fixed;
    width:100%;
    Z-index:10000;
}
</style>    
<div id="top-grrk"></div>
<!-- 顶部跑马灯特效 -->

<!--
<script data-ad-client="ca-pub-3925981084585036" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
-->

<!-- 微信QQ跳转，防止被举报 -->

<!-- fps id geo-location -->

<div id="fps" style="z-index:999;position:fixed;bottom:3px;right:3px;color:#FFF;font-size:10px;"></div>

<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.6.3/jquery.min.js"></script>
<!--<script type="text/javascript" src="https://cdn.staticfile.org/jquery/2.2.0/jquery.min.js"></script>-->

<!--web 弹窗弹层组件 -->

<script type="text/javascript" src="https://cdn.staticfile.org/layer/3.5.1/layer.min.js"></script>

<!-- fps 函数组件 弹窗信息在fps.js文件里修改-->

<script type="text/javascript" src="{{ "js/fps.js" | absURL }}"></script>

<!-- end -->

<!--<script src="{{ "js/snow.js" | absURL }}" defer></script>-->