{{ $isPad := or (in (slice "archive" "posts" "page") .Type) }}
{{ $isPad = or $isPad (and (eq .Kind "page") (not (in (slice "about" "contact" "publication") .Type))) }}
{{ $isPad = or $isPad (and (eq .Kind "section") (eq .Type "publication")) }}
{{ $isPad = or $isPad (and (eq .Type "tags") (ne .Kind "taxonomyTerm")) }}

<style>
.button {
 font-family: inherit;
 background: #2CA0D9;
 color: white;
 padding: 0.35em 0;
 font-size: 17px;
 border: none;
 border-radius: 0.7em;
 letter-spacing: 0.08em;
 position: relative;
 display: flex;
 align-content: center;
 align-items: center;
 overflow: hidden;
 height: 2.4em;
 padding-left: 2.8em;
 padding-right: 0.9em;
 margin: 5% auto;
}

.button .icon {
 background: #fff;
 height: 1.8em;
 width: 1.8em;
 border-radius: 2em;
 position: absolute;
 display: flex;
 align-items: center;
 justify-content: center;
 left: 0.4em;
 transition: all 0.5s;
}

.icon svg {
 /*margin-left: 0.4em;*/
 transition: all 0.5s;
 color: #2CA0D9;
 width: 1.2rem;
 height: 1.2rem;
}

.button:hover .icon svg {
 transform: rotate(360deg);
}

.button:hover .icon {
 width: calc(100% - 0.85rem);
 border-radius: 0.5em;
}
.button a {
  margin-top: -30px;
  color: #FFFFFF;
  &:hover {
    text-decoration: underline;
  }
}
.button a::after {
  display: none
}
</style>

