{{ if .Site.Params.slideImages }}
<div class="swiper slideContent" id="slider">
  <div class="swiper-wrapper">
    {{ range .Site.Params.slideImages }}
    <div class="swiper-slide">
      <a data-umami-event="{{ .linkEvent }}" href="{{ .linkAddress }}" target="_blank">
        <img id="support-img" src="{{ .imgAddress | relURL }}" style="border: none;width: 100%;max-width: 100%;display: inline-block;" />
      </a>
    </div>
    {{ end }}
  </div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

<a title="Sealos" href="https://sealos.io" target="_blank">
<div class="box" data-umami-event="Sealos">
  像使用个人电脑一样使用 <span style="color:#007af5;">Sealos</span> <span class="button-box">走，看看去！</span>
</div>
</a>
<script>
  var mySwiper = new Swiper('#slider', {
  direction: 'horizontal',
  loop: true,
  autoplay: {
    delay: 5000,
  },
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  }
})
</script>
{{ else }}
<a data-umami-event="Laf" title="Serverless" href="https://github.com/labring/laf" target="_blank">
<!--
<p id="sponsor-text" style="box-sizing: border-box;
    text-align: center;
    width: 100%;
    border: 1px solid #e5e4e9;
    background-color: #d0e4a9;
    margin: 1em 0 0;
    padding: 0.6em 0.6em 0.4em 0.6em;
    border-radius: 0.3em 0.3em 0.1em 0.1em;
    color: #076a66;"></p>
-->
<p style="padding:0em;margin:0 0 1.5em 0;/* border: 1px solid #e5e4e9;border-radius: 0.1em 0.1em 0.3em 0.3em */;background-color: #28344a;text-align: center;" class="entry-sponsor-img">
  <img alt="Serverless" id="support-img" src="https://socialify.git.ci/labring/laf/image?description=1&descriptionEditable=%E5%83%8F%E5%86%99%E5%8D%9A%E5%AE%A2%E4%B8%80%E6%A0%B7%E5%86%99%E4%BB%A3%E7%A0%81%EF%BC%81&font=Inter&forks=1&language=1&name=1&owner=1&pattern=Circuit%20Board&stargazers=1" style="border: none;width: 100%;max-width: 100%;display: inline-block;">

</p>
</a>

<!--
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3925981084585036"
     data-ad-slot="3659730565"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
-->

<a title="Sealos" href="https://github.com/fanux/sealos" target="_blank">
<div class="box" data-umami-event="Sealos">
  <span style="color:#007af5;">Sealos</span> 在云桌面中管理 Kubernetes 集群生命周期，运行分布式应用程序 <span class="button-box">走，看看去！</span>
</div>
</a>
{{ end }}